[submodule "themes/koller"]
	path = themes/koller
	url = git@github.com:zenokoller/koller.git
[submodule "public"]
	path = public
	url = git@github.com:velokoller/velokoller.github.io.git
	branch = master
